<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ndcSharer</name>
	<displayName><![CDATA[Social media share buttons]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Displays social media sharing buttons on every product page.]]></description>
	<author><![CDATA[RPaterson]]></author>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
